<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36918939546-0polq0365q4578s32hba6j4b5b0ebt6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36918939546-0polq0365q4578s32hba6j4b5b0ebt6j</string>
	<key>API_KEY</key>
	<string>AIzaSyBNv6cVUZ3EcAt29xjvjRYtHozDihGPXbk</string>
	<key>GCM_SENDER_ID</key>
	<string>36918939546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.via.gocodfgyy.girl</string>
	<key>PROJECT_ID</key>
	<string>via-browser</string>
	<key>STORAGE_BUCKET</key>
	<string>via-browser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36918939546:ios:12deab5bd1e5764eff3423</string>
</dict>
</plist>